{% extends "layout/base.html" %}

{% block 'title' %} Edit User {% endblock 'title' %}

{% block 'content' %}

{% include "layout/include/Sidebar.html" %}
{% include "layout/include/ToastMessage.html" %}

<div class="p-2 sm:ml-64 mt-16 md:mt-14">
    <div class="mx-auto">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <!-- LEFT COLUMN -->
                <div class="col-span-1">

                    <!-- FULL NAME -->
                    <div class="mb-4">
                        <label for="full_name" class="block text-sm font-medium mb-2">
                            Full Name
                        </label>

                        <input
                            type="text"
                            class="bg-white mb-2 px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600"
                            name="full_name"
                            id="full_name"
                            value="{{ user.full_name }}"
                        />
                    </div>

                    <!-- GENDER -->
                    <div class="mb-4">
                        <label for="gender" class="block text-sm font-medium mb-2">
                            Gender
                        </label>

                        <select
                            name="gender"
                            id="gender"
                            class="bg-white mb-2 px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600"
                        >

                            {% for gender in genders %}

                            <option
                                value="{{ gender.gender_id }}"
                                {% if user.gender.gender_id == gender.gender_id %}selected{% endif %}
                            >
                                {{ gender.gender }}
                            </option>

                            {% endfor %}

                        </select>
                    </div>

                    <!-- BIRTH DATE -->
                    <div class="mb-4">
                        <label for="birth_date" class="block text-sm font-medium mb-2">
                            Birth Date
                        </label>

                        <input
                            type="date"
                            class="bg-white mb-2 px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600"
                            name="birth_date"
                            id="birth_date"
                            value="{{ user.birth_date|date:'Y-m-d' }}"
                        />
                    </div>

                    <!-- ADDRESS -->
                    <div class="mb-4">
                        <label for="address" class="block text-sm font-medium mb-2">
                            Address
                        </label>

                        <input
                            type="text"
                            class="bg-white mb-2 px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600"
                            name="address"
                            id="address"
                            value="{{ user.address }}"
                        />
                    </div>

                    <!-- CONTACT NUMBER -->
                   <div class="mb-4">
                     <label for="contact_number" class="block text-sm font-medium mb-2">
                      Contact Number
                       </label>

                    <input
                       type="text"
                       class="bg-white mb-2 px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600"
         name="contact_number"
        id="contact_number"
        value="{{ user.contact_number }}"
    />
</div>

                </div>

                <!-- RIGHT COLUMN -->
                <div class="col-span-1">

                    <!-- EMAIL -->
                    <div class="mb-4">
                        <label for="email" class="block text-sm font-medium mb-2">
                            Email
                        </label>

                        <input
                            type="email"
                            class="bg-white mb-2 px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600"
                            name="email"
                            id="email"
                            value="{{ user.email }}"
                        />
                    </div>

                    <!-- USERNAME -->
                    <div class="mb-4">
                        <label for="username" class="block text-sm font-medium mb-2">
                            Username
                        </label>

                        <input
                            type="text"
                            class="bg-white mb-2 px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600"
                            name="username"
                            id="username"
                            value="{{ user.username }}"
                        />
                    </div>

                    <!-- PASSWORD -->
                    <div class="mb-4">
                        <label for="password" class="block text-sm font-medium mb-2">
                            New Password
                        </label>

                        <input
                            type="password"
                            class="bg-white mb-2 px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600"
                            name="password"
                            id="password"
                        />
                    </div>

                    <!-- CONFIRM PASSWORD -->
                    <div class="mb-4">
                        <label for="confirm_password" class="block text-sm font-medium mb-2">
                            Confirm Password
                        </label>

                        <input
                            type="password"
                            class="bg-white mb-2 px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600"
                            name="confirm_password"
                            id="confirm_password"
                        />
                    </div>

                    <!-- CURRENT PROFILE -->
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-2">
                            Current Profile Picture
                        </label>

                        {% if user.profile %}
                            <img
                                src="{{ user.profile.url }}"
                                class="w-24 h-24 rounded-full object-cover border border-gray-300"
                            >
                        {% else %}
                            <p class="text-sm text-gray-500">No Image</p>
                        {% endif %}
                    </div>

                    <!-- CHANGE PROFILE -->
                    <div class="mb-4">
                        <label for="profile" class="block text-sm font-medium mb-2">
                            Change Profile Picture
                        </label>

                        <input
                            type="file"
                            name="profile"
                            id="profile"
                            accept="image/*"
                            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-sm cursor-pointer bg-white focus:outline-none"
                        />
                    </div>

                </div>

            </div>

            <!-- UPDATE BUTTON -->
            <div class="mt-4">
                <button
                    type="submit"
                    class="bg-green-600 hover:bg-green-700 text-white text-sm font-medium px-4 py-2.5 rounded-sm shadow-sm"
                >
                    Update User
                </button>
            </div>

        </form>

    </div>
</div>

{% endblock %}