<!-- TOP NAVBAR -->
<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-300">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">

     
      <div class="flex items-center justify-start">

      
        <a href="#" class="flex items-center ms-2 md:me-24">
          <img
            src="https://i.pinimg.com/736x/af/36/6f/af366f5e54ce1d5229344b246197bba9.jpg"
            class="h-8 me-3"
            alt="flowbite"
          />

          <span class="self-center text-2xl font-bold text-green-500 whitespace-nowrap">
            ZORO
          </span>
        </a>

      </div>

      
      <div class="flex items-center">
        <button
          type="button"
          class="flex text-sm rounded-full"
        >
          <img
            class="w-8 h-8 rounded-full"
            src="https://i.pinimg.com/736x/3c/e3/9f/3ce39f33bb9d1c2f01e1014d68cf8391.jpg"
            alt="user photo"
          >
        </button>
      </div>

    </div>
  </div>
</nav>


<aside
  id="top-bar-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen bg-white border-r border-gray-300"
  aria-label="Sidebar"
>

  
  <div class="h-full px-3 pt-24 pb-4 overflow-y-auto bg-white">

   
    <ul class="space-y-2 font-medium">

      <li>
        <a href="/gender/list" class="flex items-center px-2 py-2 text-black rounded hover:bg-gray-100">
          <span class="ms-3">Gender List</span>
        </a>
      </li>

      <li>
        <a href="/gender/add" class="flex items-center px-2 py-2 text-black rounded hover:bg-gray-100">
          <span class="ms-3">Add Gender</span>
        </a>
      </li>

      <li>
        <a href="/user/list" class="flex items-center px-2 py-2 text-black rounded hover:bg-gray-100">
          <span class="ms-3">User List</span>
        </a>
      </li>

      <li>
        <a href="/user/add" class="flex items-center px-2 py-2 text-black rounded hover:bg-gray-100">
          <span class="ms-3">Add Users</span>
        </a>
      </li>

    </ul>

  </div>  

</aside>