{% load static %}

{% if messages %}
    {% for message in messages %}

        {% if message.tags == 'error' %}

        <!-- ERROR TOAST -->
        <div id="toast-danger"
            class="flex ml-64 mt-16 items-center w-full z-50 max-w-xs p-4 mb-4 text-red-200 bg-[#1e293b] border border-red-500 rounded-xl shadow-lg"
            role="alert">

            <!-- X ICON -->
            <div
                class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-red-400 bg-red-500/20 rounded-lg">

                <svg class="w-5 h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">

                    <path stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12" />

                </svg>

            </div>

            <div class="ms-3 text-sm font-medium">
                {{ message }}
            </div>

        </div>

        {% else %}

        <!-- SUCCESS TOAST -->
        <div id="toast-success"
            class="flex ml-64 mt-16 items-center w-full z-50 max-w-xs p-4 mb-4 text-blue-100 bg-[#1e293b] border border-blue-500 rounded-xl shadow-lg"
            role="alert">

            <!-- CHECK ICON -->
            <div
                class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-blue-300 bg-blue-500/20 rounded-lg">

                <svg class="w-5 h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20">

                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />

                </svg>

            </div>

            <div class="ms-3 text-sm font-medium">
                {{ message }}
            </div>

        </div>

        {% endif %}

    {% endfor %}
{% endif %}

<!-- AUTO HIDE -->
<script>
    setTimeout(() => {
        const toasts = document.querySelectorAll('#toast-success, #toast-danger');
        toasts.forEach(toast => {
            toast.style.display = 'none';
        });
    }, 3000);
</script>